@page "/loans"
@rendermode InteractiveServer
@using BusinessLayer
@using DataLayer
@inject LibraryContext context

<h2>Loans</h2>

<label>Book</label>

<input class="form-control"
       list="booksList"
       @bind="bookTitle"
       placeholder="Start typing book title" />

<datalist id="booksList">
    @foreach (var b in books)
    {
        <option value="@b.Title"></option>
    }
</datalist>

<label>Member</label>

<input class="form-control"
       list="membersList"
       @bind="memberName"
       placeholder="Start typing member name" />

<datalist id="membersList">
    @foreach (var m in members)
    {
        <option value="@m.Name"></option>
    }
</datalist>

<button class="btn btn-primary mt-2" @onclick="AddLoan">
    Add Loan
</button>

<table class="table mt-4">

    <thead>
        <tr>
            <th>Book</th>
            <th>Member</th>
            <th>Date</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var l in loans)
        {
            <tr>

                <td>@l.Book?.Title</td>
                <td>@l.Member?.Name</td>
                <td>@l.LoanDate.ToShortDateString()</td>

                <td>
                    <button class="btn btn-danger"
                            @onclick="() => DeleteLoan(l.Id)">
                        Delete
                    </button>
                </td>

            </tr>
        }

    </tbody>
</table>

@code {

    List<Loan> loans = new();
    List<Book> books = new();
    List<Member> members = new();

    string bookTitle;
    string memberName;

    protected override void OnInitialized()
    {
        LoadData();
    }

    void LoadData()
    {
        loans = context.Loans
            .ToList();

        books = context.Books.ToList();

        members = context.Members.ToList();
    }

    void AddLoan()
    {
        var book = context.Books
            .FirstOrDefault(b => b.Title == bookTitle);

        var member = context.Members
            .FirstOrDefault(m => m.Name == memberName);

        if (book == null || member == null)
            return;

        Loan loan = new()
        {
            BookId = book.Id,
            MemberId = member.Id,
            LoanDate = DateTime.Now
        };

        context.Loans.Add(loan);
        context.SaveChanges();

        bookTitle = "";
        memberName = "";

        LoadData();
    }

    void DeleteLoan(int id)
    {
        var loan = context.Loans.Find(id);

        if (loan != null)
        {
            context.Loans.Remove(loan);
            context.SaveChanges();
        }

        LoadData();
    }

}